/* You can add global styles to this file, and also import other style files */
.centralizar{
    text-align: center;
}
.topo{
    top: 30vh;
    position: relative;
}

body{
    background-color: rgb(226, 226 , 226);
}